GOOGLE_APPLICATION_CREDENTIALS=credentials/meu-arquivo-service-account.json
GCP_PROJECT_ID=meu-projeto-ipb-mba
BIGQUERY_DATASET=ipb_staging
BIGQUERY_LOCATION=US
RAW_DATA_DIR=data/raw
PROCESSED_DATA_DIR=data/processed
